body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

::-webkit-scrollbar {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
    width: 13px;
    /* box-shadow: 10px 10px 10px black; */



}

::-webkit-scrollbar-thumb {
    background-color: burlywood;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}